<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Ropa+Sans&display=swap" rel="stylesheet">
<div class="container">
  <mat-toolbar class='title' color="primary">Angular Spark Lab
    <button class='navbar' mat-button routerLink="/"><mat-icon>home</mat-icon> Home</button>
    <button class='navbar' mat-button routerLink="/users"><mat-icon>people</mat-icon> Users</button>
    <button class='navbar' mat-button routerLink="/todos"><mat-icon>assignment</mat-icon> Todos</button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
